doctype html

html
  head
    meta(charset='UTF-8')
    title 淘词助手
    style.
      body { width: 200px; }

  body
    #root
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'https://localhost:3333/js/popup.bundle.js')
